<h1 class="text-muted">Look up for your ideal socks</h1>

<%= render "search_form" %>

<div class="row">
  <% @socks.each do |sock| %>
    <div class="card-body co-12 colsm-6 col-md-4 mb-3">
      <%= link_to sock_path(sock), class:'text-decoration-none' do %>
      <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(sock.photo.key)%>)">
      </div>
      <div class="card-body shadow-lg p-3 mb-5 bg-white rounded">
        <h5 class="card-title"><%= sock.name %></h5>
        <% end %>
        <p> price: <%= sock.price %> $AUD</p>
        <p>address: <%= sock.address %></p>
        <% if sock.user == current_user %>
          <small>This sock is yours</small>
        <% else %>
          <small>This sock is posted by <%= sock.user.first_name %></small>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


<div id="map"
 style="width: 100%; height: 600px;"
 data-markers="<%= @markers.to_json %>"
 data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>


