<div class="card sign">

  <%= simple_form_for @sock do |f| %>
  <%= f.input :name, label: "name" %>
  <%= f.input :description, label: "description" %>
  <%= f.input :price, label: "price" %>
  <%= f.input :address, label: "address" %>
  <%= f.input :photo, as: :file %>
  <div class="form-actions text-center m-auto">
  <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
</div>

