<hr>
<div class="container py-5 my-5">
  <h1 class=""><%= @sock.name %></h1>
  <% if @sock.reviews.count != 0  %>
  <div class="sock-details">
    <div class="card-reviews" href="" style="width: 18rem;" >
      <% stars = 0 %>
      <% @sock.reviews.each do |review| %>
      <% stars += review.stars %>
      <% end %>
      <p><strong>stars average:</strong> <%= stars = stars / @sock.reviews.count %>/5</p>
      <p class=""> <strong>reviews:</strong> <%= @sock.reviews.count %></p>
    </div>
    <% else %>

  <% end %>
    <div class="card-reviews" style="width: 18rem;" >
        <h4><strong>price:</strong> <%= @sock.price %>$</h4>
    </div>
  </div>
  <br>
  <div class="card-category-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(@sock.photo.key)%>)"></div>
  <div class="card-reviews">
    <p class=""> <strong>posted by:</strong> <%= @sock.user.first_name %></p>
    <p class=""> <strong>description:</strong> "<%= @sock.description %>"</p>
  </div>


    <% if @sock.reviews.count != 0 %>
    <% @sock.reviews.each do |review|%>
        <div class="card-reviews">
          <div class="card-body">
            <p>"<%= review.content %>"</p>
            <p><strong>stars:</strong> <%= review.stars %>/5</p>
            <%= review.created_at %>
            <p><strong>by:</strong> <%= review.booking.user.first_name %></p>
          </div>
        </div>
      <% end %>
    <% else %>
      <div>
        <small> This sock haven't be reviewed yet, make a booking to be the first</small>

      </div>
   <% end %>
</div>


