
<div class="col-12 colsm-6 col-md-4 mb-3">
  <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(@sock.photo.key)%>)">
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @sock.name %></h5>
    <p class="card-text"><%= @sock.description %></p>
     <p class= "card-text">price: <%= @sock.price %> $AUD</p>
     <div>
       <a href="#" class="card-link"><%= link_to "Delete sock", sock_path(@sock), method: :delete,  data: { confirm: "Are you sure you want to remove #{@sock.name} from your list"}  %></a>
     </div>
     <div>
       <a href="" class= "card-link"><%= link_to "See bookings", sock_bookings_path(@sock)  %></a>
     </div>
     <div>
        <a href="" class= "card-link"><%= link_to "Book this sock", new_sock_booking_path(@sock)  %></a>
     </div>
  </div>
</div>
