
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">My Bookings</h3>
  </div>
  <div class="row">
    <% @sock.bookings.each do |booking| %>
      <div class="co-12 colsm-6 col-md-4 mb-3">
        <h3><%= booking.sock.name%></h3>
       <p><%= booking.start_date %> </p>
        <p><%= booking.end_date %></p>
        <p><%= booking.status %></p>
        <a href="#" class="card-link"><%= link_to "Delete Booking", booking_path(booking), method: :delete,  data: { confirm: "Are you sure you want to remove it from your list"}  %>
        </a>
      </div>
    <% end %>
  </div>
</div>
