<div class= "sign" id='sock-booking-dates' data-unavailable="<%= @sock.unavailable_dates.to_json %>">
  <% if current_user.id != @sock.user_id  %>
    <%= simple_form_for([@sock, @booking]) do |f| %>
       <%= f.input :start_date, as: :string, type: :text %>
       <%= f.input :end_date, as: :string, type: :text %>
        <div class="form-actions text-center m-auto">
          <%= f.submit "Book", class: "btn btn-primary" %>
        </div>
    <% end %>
  <% end %>
</div>

