
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">My Socks</h3>
  </div>
  <div class="row">
    <% if @socks.count != 0 %>
    <% @socks.each do |sock| %>
      <div class="co-12 colsm-6 col-md-4 mb-3">
        <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(sock.photo.key)%>)">
        </div>
        <div class="card-body">
          <%= link_to sock_path(sock), class:'text-decoration-none' do %>
          <h5 class="card-title"><%= sock.name %></h5>
          <% end %>
        </div>
          <ul class="list-group list-group-flush">
          <li class="list-group-item">price: <%= sock.price %> $AUD</li>
        </ul>
        <div class="card-body">
        </div>
      </div>
    <% end %>
    <% else %>
      <div>
        <small> You have no socks listed yet</small>
      </div>
    <% end %>
  </div>
</div>

<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">My Bookings</h3>
  </div>
  <div class="row">
    <% if @my_bookings.count != 0 %>
    <% @my_bookings.each do |booking| %>
      <div class="co-12 colsm-6 col-md-4 mb-3">
        <h3><%= booking.sock.name%></h3>
       <p><%= booking.start_date %> </p>
        <p><%= booking.end_date %></p>
        <p><%= booking.status %></p>
        <a href="#" class="card-link"><%= link_to "Delete Booking", booking_path(booking), method: :delete,  data: { confirm: "Are you sure you want to remove it from your list"}  %>
        </a>
      </div>
    <% end %>
    <% else %>
      <div>
        <small>You have no bookings yet</small>
      </div>
      <% end %>
  </div>
</div>




